<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>AutoAdmin</title>

	<!-- Styles -->
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h2>Get the Buzz</h2>
		{% if error %}
			<strong>{{ error }}</strong>
		{% endif %}
		<p>Enter an address and a term, and find out what the buzz around that term and related terms is on Twitter.</p>
		<form action="/" method="post" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="location_name">Location name:</label>
				<div class="controls">
					<input type="text" name="location_name" id="location_name" value="{{ location_name }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="search_term">Twitter search term:</label>
				<div class="controls">
					<input type="text" name="search_term" id="search_term" value="{{ search_term }}" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input name="Submit" type="submit" value="Submit" class="btn btn-primary" />
				</div>
			</div>
		</form>
		{% if buzzes %}
			<p>
				Results for '{{ search_term }}' near '{{ location_name }}'...
			</p>
			<p>
				GPS Coordinates: {{ location['lat'] }},{{ location['lng'] }}
			</p>
			<p>
				The buzz: {{ buzzes }}
			</p>
		{% endif %}
	</div>
</body>
</html>